@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RockstarBlack";
  src: local("RockstarBlack"),
    url("/fonts/RockStar-Black.otf") format("truetype");
}

@font-face {
  font-family: "RockstarLight";
  src: local("RockstarLight"),
    url("/fonts/RockStar-Light.otf") format("truetype");
}

@font-face {
  font-family: "RockstarNarrowRegular";
  src: local("RockstarNarrowRegular"),
    url("/fonts/RockStar-NarrowRegular.otf") format("truetype");
}

.font-rblack {
  font-family: RockstarBlack;
}

.font-rlight {
  font-family: RockstarLight;
}

.font-rnarrow {
  font-family: RockstarNarrowRegular;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
