@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RockstarBlack";
  src: local("RockstarBlack"),
    url("/fonts/RockStar-Black.otf") format("truetype");
}

@font-face {
  font-family: "RockstarLight";
  src: local("RockstarLight"),
    url("/fonts/RockStar-Light.otf") format("truetype");
}

@font-face {
  font-family: "RockstarNarrowRegular";
  src: local("RockstarNarrowRegular"),
    url("/fonts/RockStar-NarrowRegular.otf") format("truetype");
}

.font-rblack {
  font-family: RockstarBlack;
}

.font-rlight {
  font-family: RockstarLight;
}

.font-rnarrow {
  font-family: RockstarNarrowRegular;
}

/* TextField custom style */
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
  font-weight: 400 !important;
  font-size: 16px !important;

}

.Mui-focused {
  color: white !important;
  font-weight: 400 !important;
  font-size: 16px !important;

}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  color: #FFFFFF !important;
  font-weight: 400 !important;
  font-size: 16px !important;

}

.css-66dh3a-MuiInputBase-input-MuiInput-input {
  color: #FFFFFF !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  border-color: #FFFFFF !important;
}

.css-5xn5lu-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid #FFFFFF !important;
}

.css-5xn5lu-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 2px solid #FFFFFF !important;
}

/* END */
/* Drawer custom style */
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: #212121 !important;
}

/* END */