@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RockstarBlack";
  src: local("RockstarBlack"),
    url("/fonts/RockStar-Black.otf") format("truetype");
}

@font-face {
  font-family: "RockstarLight";
  src: local("RockstarLight"),
    url("/fonts/RockStar-Light.otf") format("truetype");
}

@font-face {
  font-family: "RockstarNarrowRegular";
  src: local("RockstarNarrowRegular"),
    url("/fonts/RockStar-NarrowRegular.otf") format("truetype");
}

.font-rblack {
  font-family: RockstarBlack;
  color: #212121;
}

.font-rlight {
  font-family: RockstarLight;
  color: #212121;
}

.font-rnarrow {
  font-family: RockstarNarrowRegular;
  color: #212121;
}
